parameters:
	ignoreErrors:
		- '#Call to an undefined method React\\Promise\\PromiseInterface::always\(\).#'
		- '#In method "WyriHaximus\\React\\Parallel\\Finite::progressQueue", caught "Throwable" must be rethrown. Either catch a more specific exception or add a "throw" clause in the "catch" block to propagate the exception. More info: http:\/\/bit.ly\/failloud#'
	classesAllowedToBeExtended:
		- Exception
		- WyriHaximus\React\Tests\Parallel\AbstractPoolTest

includes:
	- vendor/wyrihaximus/async-test-utilities/rules.neon